/* components/MovieDetail.css */

.movie-detail {
  display: flex;
  margin-top: 20px;
}

.movie-poster {
  max-width: 400px;
  margin-right: 20px;
  
}

.movie-info {
  flex-grow: 1;
}

.movie-info h2 {
  margin-top: 0;
}
